/* Variables */

:root {
  --blue-primary: hsl(233, 67%, 56%);
  --blue-secondary: hsl(248, 70%, 36%);

  --orange-primary: hsl(28, 100%, 52%);

  --neutral-primary-900: hsl(243, 96%, 9%);
  --neutral-primary-800: hsl(243, 27%, 20%);
  --neutral-primary-700: hsl(243, 23%, 24%);
  --neutral-primary-600: hsl(243, 23%, 30%);
  --neutral-primary-300: hsl(240, 6%, 70%);
  --neutral-primary-200: hsl(250, 6%, 84%);
  --neutral-primary-0: hsl(0, 0%, 100%);
}

body {
  background-color: var(--neutral-primary-900);
  color: var(--neutral-primary-0);
}


* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  margin: 0;
}