.button {
    background-color: var(--blue-secondary);
    color: var(--neutral-primary);
    font-size: 1rem;
    padding: 0.75rem 0.5rem;
    border-radius: 6px;
    border: none;
}

.button:hover {
    cursor: pointer;
    background-color: var(--blue-primary);
}