.button {
  color: var(--neutral-primary);
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.primary {
  background-color: var(--blue-secondary);
}

.secondary {
  background-color: var(--neutral-primary-800);
}

.button:hover {
  cursor: pointer;
}

.primary:hover {
    background-color: var(--blue-primary);
}

.secondary:hover {
    background-color: var(--neutral-primary-600);
}