.root {}

.metricCard {
    background-color: var(--neutral-primary-800);
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90px;
    height: 80px;
    border: 1px solid var(--neutral-primary-700);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}